<?php
return array(
    'modules' => array(
        'SpeckCatalog',
        'ZfcUser'
    ),
    'module_listener_options' => array(
        'module_paths' => array(
            'vendor',
        ),
    ),
);
