<?php

return array(
    'modules' => array(
        'SpeckCatalog',
        'ZfcBase',
    ),
    'module_listener_options' => array(
        'extra_config' => array(
            'service_manager' => array (
                'factories' => array (
                    'zend\\db\\adapter\\adapter' => 'Zend\\Db\\Adapter\\AdapterServiceFactory',
                ),
                'initializers' => array(
                    function($instance, $sm){
                        if ($instance instanceof \SpeckCatalog\Mapper\DbAdapterAwareInterface) {
                            $dbAdapter = $sm->get('speckcatalog_db');
                            $instance->setDbAdapter($dbAdapter);
                        }
                    },
                ),
            ),
            'db' => array (
                'driver' => 'pdo',
                'dsn' => "sqlite::memory:",
                'driver_options' => array(
                    1002 => 'SET NAMES \'UTF8\'',
                ),
            ),
        ),
        'module_paths' => array(
            'vendor',
            //'devmodules',
        ),
    ),
);
