    body{ margin:50px; background:#ffffff;}
    form{ margin-bottom:0 !important}
    .smallcaps{font-variant:small-caps; font-size:13px; color:#555555; font-weight:bold}
    .boundary{
        margin-bottom:4px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        -khtml-border-radius: 5px; border-radius: 5px;
    }
    .add-element{ padding:2px 0 4px 0;}
    .sortable-placeholder{
        border:1px solid #000000; background:#bbb; padding: 0 4px 0 4px;
        margin-bottom:4px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        -khtml-border-radius: 5px; border-radius: 5px;
    }
    .collapser{ width:30px; }
    .sort-handle{ cursor:move;}
    .menuitem{ cursor:hand; cursor:pointer;}
    .entity-content{ margin-left:25px;}
    .live-form{ opacity:0.7; margin-bottom:0px}
    .list-wrap{ min-height:30px; margin-bottom:5px }
    .whitebg { background:#ffffff; border-left:1px solid #AAA}
    .contrastbg{ background: url('/assets/speck-catalog/img/gradient.jpg'); background-repeat: repeat-y; border-left:1px solid #aaa}
    .contrastbg2{ background: url('/assets/speck-catalog/img/gradient2.jpg'); background-repeat: repeat-y; border-left:1px solid #aaa}
    .label{ margin-left:4px; border:1px solid #777777;}
    .entity-header{ padding-left:5px; height:20px; margin-bottom:2px; margin-top:2px;}
    .entity-header div{ padding:1px 0 0 0; float:left; min-height:20px; min-width:18px}
    .entity-header .title{ min-width:400px; white-space:nowrap;}
    .removing{ background:#ff9999;}
    .appearing{ background:#9999ff;}
    .child-expand{ height:20px; margin-bottom:2px;}
    .child-expand div{ float:left;}
    .list-items-helper{ opacity: 0.2;}
